# MongoDB Connection String
MONGODB_URI=mongodb+srv://travel-agency:Vignesh%4022@cluster0.ialfq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0


# JWT secret for signing tokens
JWT_SECRET=e2d2733c99e25fce490a11979fd95d47fec4f93f05ed60998a73b9ad98434842853a8fcc3bf2fe17a033f3e80c58c07fdc6b9e2ea301c66809efaac3035c37da

# Google Gemini API key
GEMINI_API_KEY=AIzaSyD32qyfXY71_VdvwpTVbI7OZATohspsm-o

# Server port
PORT=5002
